<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>DVD Management System</h1>
	<hr>
	<table border="1">
		<tr>
			<th>DVD Title</th>
			<th>Release Date</th>
			<th>MPAA Rating</th>
			<th>Director</th>
			<th>Studio</th>
			<th>User Rating</th>
		</tr>
		<tr th:each="dVD : ${dVDList}">
			<td th:text="${dVD.title}"></td>
			<td th:text="${dVD.releaseDate}"></td>
			<td th:text="${dVD.mpaaRating}"></td>
			<td th:text="${dVD.director}"></td>
			<td th:text="${dVD.studio}"></td>
			<td th:text="${dVD.userRating}"></td>
		</tr>
	</table>
	<br><br>
	<a href="/">GoTo Main Page</a>
</body>
</html>