<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>DVD Management System</h1>
	<hr>
	<form action="./saveDVD" method="post">
	Enter DVD Title : <input type="text" name="title"><br><br>
	Enter DVD Release Date : <input type="text" name="releaseDate"><br><br>
	Enter DVD MPAA Rating : <input type="text" name="mpaaRating"><br><br>
	Enter DVD Director : <input type="text" name="director"><br><br>
	Enter DVD Studio : <input type="text" name="studio"><br><br>
	Enter DVD User Rating : <input type="text" name="userRating"><br><br>
	<input type="submit" value="Save DVD">
	</form>
	<br><br>
	<a href="/">GoTo Main Page</a>
</body>
</html>